body{
    margin: 0;

}
header{
    background: black;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;



}
li {

    display: inline-block;
    margin: 30px;
}

a.meny{
    text-decoration: none;
    color: white;
    font-size: 25px;

}

a.meny:hover{
    color: darkgoldenrod;
}

a:hover{
    color: black;
}

a{
    font-size: 25px;
    color: black;
}

.tittel{
    margin-left: 15px;
}

.subtitle{
    margin-left: 15px;
}

.forfatter{
    margin-left: 15px;
}

.bilde1{
    width: auto;
    margin-left: 15px;
}